@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');

:root{
    --claro:#FFFEFE;
    --gris:#F3F4F6;
    --oscuro:#394150;
    --negro:#000000;
    --azul:#263FA9;
    --verde:#86E7D4;
    --celeste:#9DC4F8;
    --morado:#C1B6F8;
    --rosado:#EDACD2;
    --naranja:#F8D8B0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 100;
    font-style: normal;

    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: grid;
    grid-template-areas: 
        "sect1 sect1 sect2 sect3"
        "sect4 sect5 sect6 sect7"
    ;
    background-color: var(--gris);
    background-image: url(./resources/Background_decor.svg);
    background-repeat: no-repeat;

    width: 1136px;
    border-radius: 20px;

}

article{
    width: 284px; 
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.info{
    margin: 20px;
    color: var(--claro);
}

.info2{
    margin: 20px;
    color: var(--negro);
}

.info2 p:nth-child(1) {
    color: var(--azul);
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

.info2 p:nth-child(3) {
    color: var(--negro);
    font-weight: 300;
    font-size: 18px;
    margin: 10px 0;
}

.info2 h1 {
    color: var(--negro);
    font-weight: 600;
    font-size: 40px;
    margin: 10px 0;
}

.info3{
    margin: 30px;
    font-weight: 500;
    color: var(--negro);
    display: flex;
    gap: 5px;
    /* justify-content: center; */ /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

section article:nth-child(1){
    /* background-color: var(--gris); */
    width: 568px; 
    grid-area: sect1;
    color: var(--negro);
    display: flex;
    justify-content: start;
}

section article:nth-child(2){
    background-color: var(--morado);
    background-image: url(resources/person_1@2x.png);
    background-repeat: no-repeat;
    grid-area: sect2;
}


section article:nth-child(3){
    background-color: var(--rosado);
    background-image: url(resources/person_2@2x.png);
    background-repeat: no-repeat;
    grid-area: sect3;
    border-top-right-radius: 20px;
}

section article:nth-child(4){
    /* background-color: var(--gris); */
    grid-area: sect4;
    color: var(--negro);
}

section article:nth-child(5){
    background-color: var(--celeste);
    background-image: url(resources/person_3@2x.png);
    background-repeat: no-repeat;
    grid-area: sect5;
}

section article:nth-child(6){
    background-color: var(--naranja);
    background-image: url(resources/person_4@2x.png);
    background-repeat: no-repeat;
    grid-area: sect6;
}

section article:nth-child(7){
    background-color: var(--verde);
    background-image: url(resources/person_5@2x.png);
    background-repeat: no-repeat;
    grid-area: sect7;
    border-bottom-right-radius: 20px;
}

@media(width < 1200px){
    section{
        width: 852px;
        grid-template-areas: 
            "sect1 sect1 sect1"
            "sect2 sect3 sect5"
            "sect4 sect6 sect7";
    }

    section article:nth-child(3){
        border-radius: 0;
    }
}

@media(width < 950px){
    section{
        width: 426px;
        grid-template-areas: 
            "sect1"
            "sect2"
            "sect3"
            "sect5"
            "sect6"
            "sect7"
            "sect4";
            
            margin: 20px 0;
    }

    article{
        width: 426px; 
        height: 432px; 
    }


    section article:nth-child(1){
        width: 426px; 
        height: 300px; 
    }
    
    section article:nth-child(2){
        background-image: url(resources/person_1.png);
    }
    
    section article:nth-child(3){
        border-radius: 0;
        background-image: url(resources/person_2.png);
    }
    
    section article:nth-child(5){
        background-image: url(resources/person_3.png);
    }
    
    section article:nth-child(6){
        background-image: url(resources/person_4.png);
    }
    
    section article:nth-child(7){
        background-image: url(resources/person_5.png);
        border-radius: 0;
    }

    .info2{
        margin: 40px;
    }

}
